---
layout: base.njk
title: Posts
---
<h1>Posts</h1>
<ul class="posts-list">
  {%- for post in collections.posts %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
  {%- endfor %}
</ul>
